<?page title="Quản lý thông báo" contentType="text/html;charset=UTF-8"?>
<div xmlns:zk="zk" xmlns:n="native" xmlns:x="xhtml" apply="org.zkoss.bind.BindComposer"
	viewModel="@id('vm') @init('vn.toancauxanh.cms.service.KhachHangService')">
	<zscript><![CDATA[
		self.page.title= "Quản lý danh sách KH cần chăm sóc";
	]]></zscript>
	<n:section class="content-header home">
		<n:span class="header-title">Quản lý danh sách KH cần chăm sóc</n:span>		
	</n:section>
	<n:section class="content">
	    <n:div class="row">
	    	<n:div class="col-md-12">
	    		<n:div class="box box-solid">
	    			<n:div class="box-header box-header-ds">
	    				<n:h3 class="box-title">DANH SÁCH KHÁCH HÀNG</n:h3>	
	    			</n:div>
	    			<!-- /.box-header -->
	    			<n:div class="box-body box-body-ds pd0">
    					<n:div class="row">
    						<n:div class="col-md-12 ds-ho-so">
    							<div children="@load(vm.listChamSoc)">
    								<template name="children" var="lichSu">
    									<div class="doi-tuong-item ${lichSuStatus.index % 2 == 0 ? '' : 'even'} ${lichSuStatus.last ? 'last' : ''}">
    										<div class="doi-tuong-index">
	    										<div class="visible-xs">
    												<n:span class="bold">Số thứ tự: </n:span>
	    											<label value="@load(lichSuStatus.index +1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
    											<div class="hidden-xs">
    												<label value="@load(lichSuStatus.index+1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
	    									</div>
	    									<div class="doi-tuong-content">
	    										<div class="row">
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Họ và tên: </n:span>
	    												<label value="@load(lichSu.khachHang.hoVaTen)" />
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Ngày sử dụng: </n:span>
	    												<label value="@load(lichSu.ngaySuDung) @converter('formatedDate',format='dd/MM/yyyy')" />
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Tên FB: </n:span>
	    												<a href="@load(lichSu.khachHang.diaChiFacebook)" target="_blank" 
	    													label="${lichSu.khachHang.tenFacebook}"/>
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Số điện thoại: </n:span>
	    												<label value="@load(lichSu.khachHang.soDienThoai)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6 line-2">
	    												<n:span class="bold">Dịch vụ sử dụng: </n:span>
	    												<label value="@load(lichSu.listChiTietDichVuStr)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6 line-2">
	    												<n:span class="bold">Địa chỉ: </n:span>
	    												<label value="@load(lichSu.khachHang.diaChi)" />
	    											</div>
	    										</div>
	    									</div>	    									
    										<div class="doi-tuong-action">
	    										<a zk:if="${entry.quyen.khachhang_xem}" href="/${resource}/xem/${lichSu.khachHang.id}" class="chi-tiet-dt-url chi-tiet-dt-url-list">
	    											Chi tiết >
	    										</a>
	    									</div>
    									</div>    									
    								</template>
    							</div>    	    							
    						</n:div>
    					</n:div>
    				</n:div>
    			</n:div>
    		</n:div>
	    </n:div>
	</n:section>
</div>