<?page title="Quản lý thông báo" contentType="text/html;charset=UTF-8"?>
<div xmlns:zk="zk" xmlns:n="native" xmlns:x="xhtml" apply="org.zkoss.bind.BindComposer"
	viewModel="@id('vm') @init('vn.toancauxanh.cms.service.KhachHangService')"
	validationMessages="@id('vmsgs')">
	<zscript><![CDATA[
		self.page.title= "Quản lý danh sách theo ngày";
	]]></zscript>
	<n:section class="content-header home">
		<n:span class="header-title">Quản lý danh sách theo ngày</n:span>		
		<n:div class="box-tools pull-right">			
			<div class="box-search box-search-hs" style="display:block;margin-right:0px;">				
				<datebox width="100%" placeholder="dd/MM/yyyy" style="display: inline;" onChange="@command('reloadDanhSachTrongNgay')"
					format="dd/MM/yyyy" value="@bind(vm.ngaySuDung) @save(vm.ngaySuDung, before={'reloadDanhSachTrongNgay','redirectPageDichVu'}) 
					@validator('vn.toancauxanh.vm.BaseValid', constraint='no empty')" readonly="false"
					class="mis-datebox-inner tb-search-hs" />	
				<label class="error" value="@load(vmsgs[self.previousSibling])" style="display:block"/>
			</div>			
		</n:div>
	</n:section>
	<n:section class="content-header home" style="clear:both">
		<n:div class="box-tools pull-right">
			<x:a class="btn btn-success" zk:if="${vm.quyen.khachhang_them}"
				onClick="@command('redirectPageDichVu', zul='danhsachtrongngay/add.zul', ngayDichVu=vm.ngaySuDung, vmArgs=vm)">
				<n:i class="fa fa-plus"></n:i>&#160;&#160;Thêm dịch vụ
			</x:a>
		</n:div>
	</n:section>
	<n:section class="content" style="min-height: 40px;">
	    <n:div class="row">
	    	<n:div class="col-md-12">
	    		<n:div class="box box-solid">
	    			<n:div class="box-header box-header-ds">
	    				<n:h3 class="box-title">DANH SÁCH DOANH THU (Tổng: <label value="@load(vm.countDoanhThu) @converter('formatedNumber',format='#,##0')"/>)</n:h3>	
	    			</n:div>
	    			<!-- /.box-header -->
	    			<n:div class="box-body box-body-ds pd0">
    					<n:div class="row">
    						<n:div class="col-md-12 ds-ho-so">
    							<div children="@load(vm.listDichVuTrongNgay)">
    								<template name="children" var="lichSu">
    									<div class="doi-tuong-item ${lichSuStatus.index % 2 == 0 ? '' : 'even'} ${lichSuStatus.last ? 'last' : ''}">
    										<div class="doi-tuong-index">
	    										<div class="visible-xs">
    												<n:span class="bold">Số thứ tự: </n:span>
	    											<label value="@load(lichSuStatus.index +1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
    											<div class="hidden-xs">
    												<label value="@load(lichSuStatus.index+1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
	    									</div>
	    									<div class="doi-tuong-content">
	    										<div class="row">
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Họ và tên: </n:span>
	    												<label value="@load(lichSu.khachHang.hoVaTen)" />
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Ngày sử dụng: </n:span>
	    												<label value="@load(lichSu.ngaySuDung) @converter('formatedDate',format='dd/MM/yyyy')" />
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Tên FB: </n:span>
	    												<a href="@load(lichSu.khachHang.diaChiFacebook)" target="_blank" 
	    													label="${lichSu.khachHang.tenFacebook}"/>
	    											</div>
	    											<div class="col-md-3 col-sm-6">
	    												<n:span class="bold">Số điện thoại: </n:span>
	    												<label value="@load(lichSu.khachHang.soDienThoai)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6 line-2">
	    												<n:span class="bold">Dịch vụ sử dụng: </n:span>
	    												<label value="@load(lichSu.listChiTietDichVuStr)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6 line-2">
	    												<n:span class="bold">Tổng thanh toán: </n:span>
	    												<label value="@load(lichSu.tongTienThanhToan) @converter('formatedNumber',format='#,##0')" />
	    											</div>
	    										</div>
	    									</div>	    									
    										<div class="doi-tuong-action">
	    										<a zk:if="${entry.quyen.khachhang_xem}" onClick="@command('redirectPageLichSu', zul='lichsukhachhang/view.zul', vmArgs=lichSu.khachHang, vm=lichSu)" class="chi-tiet-dt-url chi-tiet-dt-url-list">
	    											Chi tiết >
	    										</a>
	    									</div>
    									</div>    									
    								</template>
    							</div>    	    							
    						</n:div>
    					</n:div>
    				</n:div>
    			</n:div>
    		</n:div>
	    </n:div>
	</n:section>
	<n:section class="content-header home" style="clear:both">
		<n:div class="box-tools pull-right">
			<x:a class="btn btn-success" zk:if="${vm.quyen.khachhang_them}"
				onClick="@command('redirectPageDichVu', zul='danhsachtrongngay/chiphi/add.zul', ngayDichVu=vm.ngaySuDung, vmArgs=vm)">
				<n:i class="fa fa-plus"></n:i>&#160;&#160;Thêm chi phí
			</x:a>
		</n:div>
	</n:section>
	<n:section class="content">
	    <n:div class="row">
	    	<n:div class="col-md-12">
	    		<n:div class="box box-solid">
	    			<n:div class="box-header box-header-ds">
	    				<n:h3 class="box-title">DANH SÁCH CHI TIÊU (Tổng: <label value="@load(vm.countChiPhi) @converter('formatedNumber',format='#,##0')"/>)</n:h3>	
	    			</n:div>
	    			<!-- /.box-header -->
	    			<n:div class="box-body box-body-ds pd0">
    					<n:div class="row">
    						<n:div class="col-md-12 ds-ho-so">
    							<div children="@load(vm.listChiTieuTrongNgay)">
    								<template name="children" var="lichSu">
    									<div class="doi-tuong-item ${lichSuStatus.index % 2 == 0 ? '' : 'even'} ${lichSuStatus.last ? 'last' : ''}">
    										<div class="doi-tuong-index">
	    										<div class="visible-xs">
    												<n:span class="bold">Số thứ tự: </n:span>
	    											<label value="@load(lichSuStatus.index +1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
    											<div class="hidden-xs">
    												<label value="@load(lichSuStatus.index+1 + vm.arg.page * vm.arg.pagesize)"/>
    											</div>
	    									</div>
	    									<div class="doi-tuong-content">
	    										<div class="row">
	    											<div class="col-md-6 col-sm-6">
	    												<n:span class="bold">Tiêu đề: </n:span>
	    												<label value="@load(lichSu.ten)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6">
	    												<n:span class="bold">Ngày phát sinh: </n:span>
	    												<label value="@load(lichSu.ngayPhatSinh) @converter('formatedDate',format='dd/MM/yyyy')" />
	    											</div>
	    											<div class="col-md-6 col-sm-6">
	    												<n:span class="bold">Loại chi tiêu: </n:span>
	    												<label value="@load(lichSu.loaiChiTieu.ten)" />
	    											</div>
	    											<div class="col-md-6 col-sm-6 line-2">
	    												<n:span class="bold">Chi phí: </n:span>
	    												<label value="@load(lichSu.giaTien) @converter('formatedNumber',format='#,##0')" />
	    											</div>
	    										</div>
	    									</div>	    									
    										<div class="doi-tuong-action">
	    										<a zk:if="${entry.quyen.khachhang_xem}" onClick="@command('redirectPage', zul='chiphi/view.zul',vmArgs=vm,vm=lichSu)" class="chi-tiet-dt-url chi-tiet-dt-url-list">
	    											Chi tiết >
	    										</a>
	    									</div>
    									</div>    									
    								</template>
    							</div>    	    							
    						</n:div>
    					</n:div>
    				</n:div>
    			</n:div>
    		</n:div>
	    </n:div>
	</n:section>
</div>